@{
    ViewData["Title"] = "Home Test Redis";
}

<div class="text-center">
    <h1 class="display-4">Welcome Test Redis</h1>
	<br/>
	<div class="row">

		<div class="card" style="width: 18rem; margin: auto;">
			<img src="~/images/f4b5d457-8393-4192-bcba-7975c23f1d71.jpeg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Test Pipelines</h5>
				<p class="card-text">Existen varias formas de canalizar los comandos a redis, evitando ir varias veces</p>
				<button class="btn btn-primary" type="submit" onclick="location.href='@Url.Action("index", "TestRedis")'">Go somewhere</button>
			</div>
		</div>
		
		<div class="card" style="width: 18rem; margin: auto;">
			<img src="~/images/f8361b9d-1f91-4af0-b84a-2de6417ff503.jpeg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Test String</h5>
				<p class="card-text">Test General para setear Claves</p>
				<button class="btn btn-primary" type="submit" onclick="location.href='@Url.Action("TestString", "TestRedis")'">Go somewhere</button>
			</div>
		</div>
		
		<div class="card" style="width: 18rem; margin: auto;">
			<img src="~/images/f4b5d457-8393-4192-bcba-7975c23f1d71.jpeg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Test Pipelines</h5>
				<p class="card-text">Existen varias formas de canalizar los comandos a redis, evitando ir varias veces</p>
				<button class="btn btn-primary" type="submit" onclick="location.href='@Url.Action("index", "TestRedis")'">Go somewhere</button>
			</div>
		</div>
		
		<div class="card" style="width: 18rem; margin: auto;">
			<img src="~/images/f4b5d457-8393-4192-bcba-7975c23f1d71.jpeg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Test Pipelines</h5>
				<p class="card-text">Existen varias formas de canalizar los comandos a redis, evitando ir varias veces</p>
				<button class="btn btn-primary" type="submit" onclick="location.href='@Url.Action("index", "TestRedis")'">Go somewhere</button>
			</div>
		</div>

	</div>


</div>
